.main {
  padding-top: 75px;

  >section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero {

    padding: 40px 20px;

    .top {
      display: flex;
      gap: 5px;
      padding: 7px 15px;
      border: 1px solid #2E71AB;
      border-radius: 999px;
      background-color: #E6F1FB;
      width: fit-content;

      >.imgWrap {
        width: 20px;
        height: 20px;
        aspect-ratio: 1/1;

        img {
          width: 100%;
        }
      }

      >.text {
        color: #2E71AB;
        font-size: 16px;
      }
    }

    .middle {
      padding: 20px 0;

      >h1 {
        font-size: 60px;
        color: #042C53;
        font-weight: 500;
      }
    }

    .bottom {
      color: #0C447C;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .tabs {
    display: flex;
    gap: 10px;
    padding-bottom: 40px;

    .tabBtn {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #F8F9FA;
      border-radius: 999px;
      padding: 8px 15px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #eeeeee;
      }

      &.active {
        background-color: #0075E9;
        color: white;
        cursor: default;
      }

      .imgWrap {
        width: 20px;
        height: 20px;
      }
    }
  }

  .objSection {
    .title {
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;

      >div {
        display: flex;
        align-items: center;
        color: #0075E9;
        gap: 2px;
        cursor: pointer;

        .imgWrap {
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;

          .right {
            width: 100%;
          }
        }
      }
    }

    >article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .acaObj {
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 3px 4px 1px rgba($color: #000000, $alpha: 0.2);

        .imgWrap {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
          }
        }

        .detail {
          display: flex;
          flex-direction: column;
          padding: 15px;
          gap: 10px;

          .category {
            background-color: #E6F1FB;
            font-size: 14px;
            font-weight: 500;
            width: fit-content;
            border-radius: 999px;
            padding: 5px 10px;
          }

          .name {
            width: fit-content;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .address {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #636363;
          }

          .priceHeart {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price {
              font-size: 20px;
              font-weight: 500;
            }

            .heart {
              display: flex;
              align-items: center;
              gap: 5px;

              .imgWrap {
                cursor: pointer;
              }
            }
          }

        }
      }

      .certObj {
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 3px 4px 1px rgba($color: #000000, $alpha: 0.2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .top {
          display: flex;
          align-items: start;
          justify-content: space-between;

          >.imgWrap {
            width: 60px;
            height: 60px;
            background-color: #B5D4F4;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
          }

          >div {
            display: flex;
            gap: 5px;
            align-items: center;

            .imgWrap {
              cursor: pointer;
            }
          }
        }

        .name {
          font-size: 20px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .t {
            color: #636363;
          }

          .low {
            background-color: #eaf3de;
            border-radius: 999px;
            padding: 5px 10px;
            color: #3b6d11;
            font-size: 14px;
            font-weight: 500;
          }

          .mid {
            background-color: #FAEEDA;
            border-radius: 999px;
            padding: 5px 10px;
            color: #854F0B;
            font-size: 14px;
            font-weight: 500;
          }

          .high {
            background-color: #FAE7E7;
            border-radius: 999px;
            padding: 5px 10px;
            color: #B21D1D;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}